.header-section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section1-div1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-section1-div1 img{
    margin-right: 10px;
}

.header-section1-div2{
display: flex;
justify-content: space-evenly;
}

.header-section1-div2 a{

    margin-left: 10px;
    margin-right: 10px;
}
    

.nav-a-img a img{
    
    height: 15px;
}


